
<div class = background >
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
&nbsp; &nbsp;
 <%= link_to new_planet_path do %>
    <button class="buttonsubmit2" href="Planets">Add Planets</button>
  <% end %>
  <div class="product__features " >
    <div class=" big site-wrapper--padding">
              <span class="layered-text layered-text-blue">
                <p class="headline">VIEW ALL PLANETS</p>
                <p class="headline">VIEW ALL PLANETS</p>
                <p class="headline">VIEW ALL PLANETS</p>
                <p class="headline">VIEW ALL PLANETS</p>
              </span>
<div class="card__collection clear-fix">

  <div class="cards cards--three">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/1ae3f761034031.5a60ebac0ebfd.png" class="img-responsive" alt="">
    <span class="cards--three__rect-1">
      <span class="shadow-1"></span>
        <% @planets.each do |planet| %>
        <p> <%=link_to planet.name, planet_path(planet) %> </p>
        <% end %>
      </span>
    <span class="cards--three__rect-2">
      <span class="shadow-2"></span>
    </span>
    <span class="cards--three__circle"></span>
    <ul class="cards--three__list">
      <li><i class="fab fa-linkedin-in"></i></li>
    </ul>
  </div>

</div>
</div>
<div id="planets-gallery" class="container">
  <div class="d-flex justify-content-between flex-wrap">
  <% if @planets.any? %>
      <% @planets.each do |planet| %>
        <% if planet.photo.attached? %>
          <%= link_to planet_path(planet)  do %>
            <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path planet.photo.key %>)">
              <h1><%= planet.name %></h1>
            </div>
          <% end  %>
        <% else %>
          <%= link_to planet_path(planet)  do %>
            <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngitem.com/pimgs/m/32-327361_planet-saturn-saturn-planet-drawing-hd-png-download.png)">
              <h1><%= planet.name %></h1>
            </div>
          <% end  %>
        <% end %>
      <% end %>
  <% else %>
    <h3>There are no planets, please check back later for any new listings.</h3>
  <% end %>
  </div>
</div>
