<div class = background2 >
  <%= link_to planets_path do %>
    <button class="buttonsubmit2" href="Planets">View all Planets</button>
  <% end %>

  <div class="product__features " >
    <div class=" big site-wrapper--padding">
              <span class="layered-text layered-text-blue">
                <p class="headline">CREATE A PLANET</p>
                <p class="headline">CREATE A PLANET</p>
                <p class="headline">CREATE A PLANET</p>
                <p class="headline">CREATE A PLANET</p>
              </span>
            <!--
            features__how-to-use -->
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;


          <div class="contact-us ">
              <%= simple_form_for (@planet) do |f| %>
              <%= f.input :name,  wrapper_html: { class: 'inputt' } %>
              <%= f.input :size, wrapper_html: { class: 'inputt' } %>
              <%= f.input :distance_from_sun, placeholder: 'Indicate distance in millions',wrapper_html: { class: 'inputt' }  %>
              <%= f.input :price_per_day, wrapper_html: { class: 'inputt' } %>
              <%= f.submit class: "buttonsubmit" %>
          </div>
            <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-sm-6 offset-sm-3 mt-3 mb-3">
    <h1><strong>Create a planet</strong></h1>
    <div class="new-planet-form">
      <%= simple_form_for (@planet) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :size, placeholder: 'Radius in km'%>
      <%= f.input :distance_from_sun, placeholder: 'Distance in million km' %>
      <%= f.input :price_per_day %>
      <div class="d-flex justify-content-between flex-wrap">
        <%= f.input :inhabited %>
        <%= f.input :has_oxygen, label: "Oxygen" %>
        <%= f.input :has_wifi, label: "Wifi" %>
        <%= f.input :has_water, label: "Water" %>
        <%= f.input :has_starbucks, label: "Starbucks" %>
      </div>
      <%= f.input :photo, label: "Image", as: :file %>
      <%= f.submit "Create Planet", class: "btn btn-dark btn-block" %>
  </div>
  <% end %>
  </div>

</div>
