<% if @planet.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @planet.photo.key %>)">
      <h1><%= @planet.name %></h1>
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngitem.com/pimgs/m/32-327361_planet-saturn-saturn-planet-drawing-hd-png-download.png)">
      <h1><%= @planet.name %></h1>
  </div>
<% end %>

<div class="container">

  <div class= "mt-4">
    <%= @planet.description %>
  </div>
  <div class="row mt-4">
    <div class="col-sm-8">
      <ul id="planet-attr-list">
        <li>
          <strong>Size:</strong> <%= @planet.size %> km
        </li>
        <li>
          <strong>Distance from Sun:</strong> <%= @planet.distance_from_sun %> million km
        </li>
        <li>
          <strong>Price per day:</strong> £<%= @planet.price_per_day %>
        </li>
      </ul>
    </div>
    <div id="planet-attr-icons" class="col-sm-4">
      <p style="text-align: center; margin: 16px;"><strong>Amenities</strong></p>
      <ul style="list-style: none">
      <% if @planet.inhabited %>
        <li style="text-align: center">
          <i class="fas fa-users" style="color: #167ffb; " title="Is inhabited"></i>
          <p style="color: #167ffb">Inhabited</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-users" style="color: grey; opacity: 0.2;" title="Is not inhabited"></i>
          <p style="opacity: 0.2;">Inhabited</p>
        </li>
      <% end %>
        <% if @planet.has_oxygen %>
        <li style="text-align: center">
          <i class="fas fa-lungs" style="color: #167ffb;" title="Has oxygen"></i>
          <p style="color: #167ffb">Oxygen</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-lungs" style="color: grey; opacity: 0.2;" title="Does not have oxygen"></i>
          <p style="opacity: 0.2;">Oxygen</p>
        </li>
      <% end %>
        <% if @planet.has_water %>
        <li style="text-align: center">
          <i class="fas fa-tint" style="color: #167ffb;" title="Has water"></i>
          <p style="color: #167ffb">Water</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-tint" style="color: grey; opacity: 0.2;" title="Does not have water"></i>
          <p style="opacity: 0.2;">Water</p>
        </li>
      <% end %>
        <% if @planet.has_wifi %>
        <li style="text-align: center">
          <i class="fas fa-wifi" style="color: #167ffb;" title="Has WiFi"></i>
          <p style="color: #167ffb"> Wifi</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-wifi" style="color: grey; opacity: 0.2;" title="Does not have WiFi"></i>
          <p style="opacity: 0.2;">Wifi</p>
        </li>
      <% end %>
      <% if @planet.has_starbucks %>
        <li style="text-align: center">
          <i class="fas fa-coffee" style="color: #167ffb;" title="Has Starbucks"></i>
          <p style="color: #167ffb">Starbucks</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-coffee" style="color: grey; opacity: 0.2;" title="Does not have Starbucks"></i>
          <p style="opacity: 0.2;">Starbucks</p>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div id="new-booking-form" hidden>
  <h2 style="text-align: center;">Your new booking request:</h2>
    <%= render "bookings/new", planet: @planet, booking: @booking %>
  </div>
  <br>
  <br>
  <% if current_user.id == @planet.user_id %>
    <div class="owner-links">
      <%= link_to "Back to base", planets_path, class: "btn btn-primary" %>
      <br>
      <br>
      <%= link_to "Edit this planet", edit_planet_path(@planet), class: "btn btn-secondary" %>
      <br>
      <br>
      <%= link_to planet_path(@planet), method: :delete, data: { confirm: "Charging the Death Star... Fire?" } do %>
        <i class="fas fa-bomb"></i> Exterminate
      <% end %>
      <br>
    </div>
  <% else %>
    <div class="renter-links">
      <button class="btn btn-success" id="show-new-booking-form">Made a booking</button>
      <br>
      <br>
      <%= link_to "Back to base", planets_path, class: "btn btn-info" %>
    </div>
  <% end %>
</div>
