<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @planet.photo.key %>)">
    <h1><%= @planet.name %></h1>
</div>
<div class="container">
  <div class="planet-info">
    <br>
    <strong>Size:</strong> <%= @planet.size %> km
    <br>
    <br>
    <strong>Distance from Earth:</strong> <%= @planet.distance_from_sun %> million km
    <br>
    <br>
    <strong>Price per day:</strong> £<%= @planet.price_per_day %>
    <br>
    <br>
    <strong>Description:</strong> <%= @planet.description %>
  </div>
  <br>
  <br>
  <div id="new-booking-form" hidden>
  <h2 style="text-align: center;">Your new booking request:</h2>
    <%= render "bookings/new", planet: @planet, booking: @booking %>
  </div>
  <% if current_user.id == @planet.user_id %>
    <div class="owner-links">
      <%= link_to "Back to base", planets_path, class: "btn btn-primary" %>
      <br>
      <%= link_to planet_path(@planet), method: :delete, data: { confirm: "Charging the Death Star... Fire?" } do %>
        <i class="fas fa-bomb"></i> Exterminate
      <% end %>
    </div>
  <% else %>
    <div class="renter-links">
      <button class="btn btn-success" id="show-new-booking-form">Made a booking</button>
      <br>
      <br>
      <%= link_to "Back to base", planets_path, class: "btn btn-info" %>
    </div>
  <% end %>
</div>
