<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @planet.image %>)">
    <h1><%= @planet.name %></h1>
</div>
<div class="container">
  <div class="planet-info">
    <br>
    Size: <%= @planet.size %> km
    <br>
    <br>
    Distance from Earth: <%= @planet.distance_from_sun %> million km
    <br>
    <br>
    Price per day: £<%= @planet.price_per_day %>
  </div>
  <br>
  <br>
  <br>
  <% if current_user.id == @planet.user_id %>
    <div class="owner-links">
      <%= link_to "Back to base", planets_path, class: "btn btn-primary" %>
      <br>
      <%= link_to planet_path(@planet), method: :delete, data: { confirm: "Charging the Death Star... Fire?" } do %>
        <i class="fas fa-bomb"></i> Exterminate
      <% end %>
    </div>
  <% else %>
    <div class="renter-links">
      <%= link_to "Book this planet", new_planet_booking_path(@planet), class: "btn btn-success" %>
      <%= link_to "Back to base", planets_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
