<div class = background >

  <%= @planet.name %>
<%= @planet.size %>
<hr>
<%= link_to "back to base", planets_path %>
<%= link_to "Book this planet", new_planet_booking_path(@planet) %>
<%= link_to planet_path(@planet), method: :delete, data: { confirm: "Charging the Death Star... Fire?" } do %>
  <i class="fas fa-bomb"></i> Exterminate
<% end %>

<div class="container">
  <input type="checkbox" class="input" id="input1" name="inputs">
  <input type="checkbox" class="input" id="input2" name="inputs">
  <input type="checkbox" class="input" id="input3" name="inputs">
  <label for="input1">
    <div id="b1" class="button">1</div>
  </label>
  <label for="input2">
    <div id="b2" class="button">2</div>
  </label>
  <label for="input3">
    <div id="b3" class="button">3</div>
  </label>
  <div id="content1" class="content">
    <div style="text-align: right;">
      <label for="input1" class="cross">X</label>
    </div>
    <h1>Content one</h1>
    <p class="bodyCopy">Additional content goes here.</p>
    <a href="#" class="cta">Find out more</a>
  </div>
  <div id="content2" class="content">
    <div style="text-align: right;">
      <label for="input2" class="cross">X</label>
    </div>
    <h1>Content two</h1>
    <p class="bodyCopy">Additional content goes here.</p>
    <a href="#" class="cta">Find out more</a>
  </div>
  <div id="content3" class="content">
    <div style="text-align: right;">
      <label for="input3" class="cross">X</label>
    </div>
    <h1>Content three</h1>
    <p class="bodyCopy">Additional content goes here.</p>
    <a href="#" class="cta">Find out more</a>
  </div>
</div>




      <div class="calendar-container">
        <div class="calendar-container__header">
          <button class="calendar-container__btn calendar-container__btn--left" title="Previous">
            <i class="icon ion-ios-arrow-back"></i>
          </button>
          <h2 class="calendar-container__title">October 2018</h2>
          <button class="calendar-container__btn calendar-container__btn--right" title="Next">
            <i class="icon ion-ios-arrow-forward"></i>
          </button>
        </div>
        <div class="calendar-container__body">
          <div class="calendar-table">
            <div class="calendar-table__header">
              <div class="calendar-table__row">
                <div class="calendar-table__col">S</div>
                <div class="calendar-table__col">M</div>
                <div class="calendar-table__col">T</div>
                <div class="calendar-table__col">W</div>
                <div class="calendar-table__col">T</div>
                <div class="calendar-table__col">F</div>
                <div class="calendar-table__col">S</div>
              </div>
            </div>
            <div class="calendar-table__body">
              <div class="calendar-table__row">
                <div class="calendar-table__col calendar-table__inactive">
                  <div class="calendar-table__item">
                    <span>30</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__today">
                  <div class="calendar-table__item">
                    <span>1</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>2</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>3</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>4</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__event">
                  <div class="calendar-table__item">
                    <span>5</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>6</span>
                  </div>
                </div>
              </div>
              <div class="calendar-table__row">
                <div class="calendar-table__col calendar-table__event">
                  <div class="calendar-table__item">
                    <span>7</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>8</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>9</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>10</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>11</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>12</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>13</span>
                  </div>
                </div>
              </div>
              <div class="calendar-table__row">
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>14</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>15</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__event calendar-table__event--long calendar-table__event--start">
                  <div class="calendar-table__item">
                    <span>16</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__event calendar-table__event--long">
                  <div class="calendar-table__item">
                    <span>17</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__event calendar-table__event--long calendar-table__event--end">
                  <div class="calendar-table__item">
                    <span>18</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>19</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>20</span>
                  </div>
                </div>
              </div>
              <div class="calendar-table__row">
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>21</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>22</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>23</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>24</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>25</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>26</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__event calendar-table__event--long calendar-table__event--start">
                  <div class="calendar-table__item">
                    <span>27</span>
                  </div>
                </div>
              </div>
              <div class="calendar-table__row">
                <div class="calendar-table__col calendar-table__event calendar-table__event--long calendar-table__event--end">
                  <div class="calendar-table__item">
                    <span>28</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>29</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>30</span>
                  </div>
                </div>
                <div class="calendar-table__col">
                  <div class="calendar-table__item">
                    <span>31</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__event calendar-table__inactive">
                  <div class="calendar-table__item">
                    <span>1</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__inactive">
                  <div class="calendar-table__item">
                    <span>2</span>
                  </div>
                </div>
                <div class="calendar-table__col calendar-table__inactive">
                  <div class="calendar-table__item">
                    <span>3</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div> border bottom
            </div>
          </li>
        </ul>
      </div>
    </main>
  </div>
</body>
=======
<% if @planet.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @planet.photo.key %>)">
      <h1><%= @planet.name %></h1>
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngitem.com/pimgs/m/32-327361_planet-saturn-saturn-planet-drawing-hd-png-download.png)">
      <h1><%= @planet.name %></h1>
  </div>
<% end %>

<div class="container">

  <div class= "mt-4">
    <%= @planet.description %>
  </div>
  <div class="row mt-4">
    <div class="col-sm-8">
      <ul id="planet-attr-list">
        <li>
          <strong>Size:</strong> <%= @planet.size %> km
        </li>
        <li>
          <strong>Distance from Sun:</strong> <%= @planet.distance_from_sun %> million km
        </li>
        <li>
          <strong>Price per day:</strong> £<%= @planet.price_per_day %>
        </li>
      </ul>
    </div>
    <div id="planet-attr-icons" class="col-sm-4">
      <p style="text-align: center; margin: 16px;"><strong>Amenities</strong></p>
      <ul style="list-style: none">
      <% if @planet.inhabited %>
        <li style="text-align: center">
          <i class="fas fa-users" style="color: #167ffb; " title="Is inhabited"></i>
          <p style="color: #167ffb">Inhabited</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-users" style="color: grey; opacity: 0.2;" title="Is not inhabited"></i>
          <p style="opacity: 0.2;">Inhabited</p>
        </li>
      <% end %>
        <% if @planet.has_oxygen %>
        <li style="text-align: center">
          <i class="fas fa-lungs" style="color: #167ffb;" title="Has oxygen"></i>
          <p style="color: #167ffb">Oxygen</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-lungs" style="color: grey; opacity: 0.2;" title="Does not have oxygen"></i>
          <p style="opacity: 0.2;">Oxygen</p>
        </li>
      <% end %>
        <% if @planet.has_water %>
        <li style="text-align: center">
          <i class="fas fa-tint" style="color: #167ffb;" title="Has water"></i>
          <p style="color: #167ffb">Water</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-tint" style="color: grey; opacity: 0.2;" title="Does not have water"></i>
          <p style="opacity: 0.2;">Water</p>
        </li>
      <% end %>
        <% if @planet.has_wifi %>
        <li style="text-align: center">
          <i class="fas fa-wifi" style="color: #167ffb;" title="Has WiFi"></i>
          <p style="color: #167ffb"> Wifi</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-wifi" style="color: grey; opacity: 0.2;" title="Does not have WiFi"></i>
          <p style="opacity: 0.2;">Wifi</p>
        </li>
      <% end %>
      <% if @planet.has_starbucks %>
        <li style="text-align: center">
          <i class="fas fa-coffee" style="color: #167ffb;" title="Has Starbucks"></i>
          <p style="color: #167ffb">Starbucks</p>
        </li>
      <% else %>
        <li style="text-align: center">
          <i class="fas fa-coffee" style="color: grey; opacity: 0.2;" title="Does not have Starbucks"></i>
          <p style="opacity: 0.2;">Starbucks</p>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div id="new-booking-form" hidden>
  <h2 style="text-align: center;">Your new booking request:</h2>
    <%= render "bookings/new", planet: @planet, booking: @booking %>
  </div>
  <br>
  <br>
  <% if current_user.id == @planet.user_id %>
    <div class="owner-links">
      <%= link_to "Back to base", planets_path, class: "btn btn-primary" %>
      <br>
      <br>
      <%= link_to "Edit this planet", edit_planet_path(@planet), class: "btn btn-secondary" %>
      <br>
      <br>
      <%= link_to planet_path(@planet), method: :delete, data: { confirm: "Charging the Death Star... Fire?" } do %>
        <i class="fas fa-bomb"></i> Exterminate
      <% end %>
      <br>
    </div>
  <% else %>
    <div class="renter-links">
      <button class="btn btn-success" id="show-new-booking-form">Make a booking</button>
      <br>
      <br>
      <%= link_to "Back to base", planets_path, class: "btn btn-info" %>
    </div>
  <% end %>
</div>
